body {
    background-color: #f2f2f2;
    overflow-y: scroll;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #6d6d6d;
}

figure {
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

h3{
    padding: 0;
    margin: 0;
}

h1{
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

#navigation {
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
    background-color: #6293eb;
    width: 100%;
    box-sizing: border-box;
    user-select: none;
}

.inner-navigation {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto 0 auto;
}

.inner-navigation > ul {
    list-style: none;
    color: #fff;
    font-family: 'Calibri', sans-serif;
    margin: 0;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.inner-navigation > ul li {
    padding: 10px 0 10px 0;
    height: 100%;
    box-sizing: border-box;
    cursor: pointer;
}

.inner-navigation > ul > #logo {
    font-size: 25px;
    font-weight: bold;
    margin-top: 5px;
}

.inner-navigation > ul > #logo img {
    height: 20px;
}


.inner-navigation > ul > #logo, .right-session  {
    width: 220px;
}

.inner-navigation > ul #search .search-dudes .input-search {
    padding: 0 10px 0px 10px;
    border-radius: 5px;
    background-color: #5d86d7;
    width: 250px;
    color: #efefef;
}

.inner-navigation > ul #search .search-dudes .input-search input {
    float: right;
    border: none;
    outline: none;
    width: 220px;
    margin: 7px 0 5px 0;
    padding: 0 20px 0 10px;
    background-color: transparent;
    box-sizing: border-box;
    color: #efefef;
}

.inner-navigation > ul #search .search-dudes .input-search input::placeholder {
    color: #e6e6e6;
}

.inner-navigation > ul #search .search-dudes .input-search #icon-search {
    cursor: pointer;
    margin: 4px 0 0 5px;
    font-size: 23px;
}

.inner-navigation > ul #user .user-thumb{
    margin: 0 10px 0 10px;
    background-color: #fff;
    float: left;
    width: 32px;
    height: 32px;
    border-radius: 5px;
}

.inner-navigation > ul #user:hover{
    transition: all 0.05s ease;
    background-color: #5d86d7;
}

.inner-navigation > ul #user .user-thumb img{
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

.inner-navigation > ul #user .user-name{
    margin: 0 5px 0 0;
    line-height: 32px;
    font-size: 15px;
    float: left;
}

.inner-navigation > ul #user #dropdown-arrow{
    padding: 5px 5px 0 0;
    float: left;
}

.header-user{
    background-color: #9ab9f0;
    background-image: url('../images/alternative_doodles.png');
    padding: 40px;
    text-align: center;
}

.user-image{
    width: 100px;
    border-radius: 50%;
    margin: 0 auto 0 auto;
}

.user-tagname{
    color: #fff;
    font-family: 'Calibri', sans-serif;
    font-size: 30px;
    font-weight: bold;
    padding: 0;
    margin-top: -5px;
}

.user-tagsub{
    font-size: 18px;
    color: #f7f7f7;
    font-family: 'Calibri', sans-serif;
    font-weight: bold;
}

nav .menu{
    width: 100%;
}

.menu ul {
    margin: auto;
    padding: 0;
    background-color: white;
    list-style: none;
    border: 1px solid rgba(0,0,0,0.15);
    display: flex;
    justify-content: center;
    font-family: 'Calibri', sans-serif;
    width: 100%;
}

.menu ul li {
    font-weight: bold;
    color: #6d6d6d;
    cursor: pointer;
    border-left: 1px solid #e1e1e1;
    padding: 15px 20px 15px 20px;  
    text-align: center;
}

.menu ul li:first-child{
    border: none;
}
.timeline-grid{
    display: grid;
    flex-direction: column;
    margin: auto;
}

.container{
    grid-area: c1;
    width: 600px;
    margin: 50px auto 60px auto;
    border: 0.5px solid #bababa;
    border-radius: 5px;
    background-color: #fff;
    padding-bottom: 30px;
}

.timeline-figure{
    height: 300px;
    overflow: hidden;
    border: 0.5px solid #bababa;
}

.timeline-img{
    width: 100%;
   
}

.timeline-text{
    padding-left: 40px;
    padding-top: 20px;
    font-family: 'Calibri', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: rgb(132, 132, 132);
    max-width: 520px;
}

.meta-dados{
    display: flex;
    align-items: center;
}
.comment-img{
    height: 45px;
    width: 45px;
    border-radius: 5px;
    margin-left: 40px;
    margin-top: 20px;
}

.timeline-description{
    font-family: 'Calibri', sans-serif;
    margin-left: 20px;
    margin-top: 20px;
    color: rgb(139, 139, 139);
    font-size: 16px;
}

.r1c1{grid-area: r1c1}
.r1c2{grid-area: r1c2}
.r1c3{grid-area: r1c3}

.group-grid{
    margin: auto;
    margin-top: 80px;
    width: 800px;
    grid-template-rows: 15em 15em 15em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    grid-template-areas: 
    "r1c1 r1c2 r1c3"
}

.r1c1, .r1c2, .r1c3{
    background-color: #ffff;
    border: 0.5px solid rgba(0,0,0,0.15);
    border-radius: 10px;
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: column;
}

.button-add{
    width: 80px;
    height: 80px;
    background-color: gray;
    border-radius: 100%;
    margin: auto;
    background-color: rgb(232, 232, 232);
    text-align: center;
    cursor: pointer;
    border: none;
    display: flex;
}

.button-add p{
    font-size: 50px;
    color: #696969;
    font-family: 'Calibri', sans-serif;
    margin-left: 27px;
    margin-top: 7px;
}

.group-icon{
    border-radius: 5px;
    height: 50px;
    width: 50px;
    border: 0.5px solid #bababa;
}

.group-name{
    font-family: 'Calibri', sans-serif;
    color: rgb(132, 132, 132);
    font-size: 20px;
    font-weight: 32px;
}

.group-adm{
    font-family: 'Calibri', sans-serif;
    color: rgb(166, 166, 166);
    font-size: 17px;
    display: flex;
    align-items: center;
    margin-top: -5px;
}

.group-button{
    font-family: 'Calibri', sans-serif;
    margin-top: 10px;
    border-radius: 7px;
    border: none;
    background-color: #869CF5;
    padding: 1px 18px 1px 18px;
    color: #ffff;
    cursor: pointer;
}

.group-adm span{
    color: rgb(158,195, 215);
    font-size: 25px;
    padding-right: 2px;
}

.group-menu{
    width: 100%; 
    background-color: white;
    display: flex;
    border-bottom: 1px solid #e1e1e1;
}

.group-menu-ul{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    font-family: 'Calibri', sans-serif;
}


.group-menu-li {
    font-weight: bold;
    color: #6d6d6d;
    cursor: pointer;
    border-left: 1px solid #e1e1e1;
    padding: 15px 20px 15px 20px;  
    text-align: center;
}


.group-menu ul li:first-child{
    border: none;
    margin-left: -16px;
}


.header-group{
    background-color: #9ab9f0;
    background-image: url('../images/alternative_doodles.png');
    padding: 40px;
    display: flex;
    justify-content: flex-start;
}

.contencao{
    width: 90%;
    max-width: 1000px;
    margin: 0 auto 0 auto;
    display: flex;
    justify-content: flex-start;
}

.group-image{
    width: 100px;
    height: 100px;
    border-radius: 5px;
}

.group{
    margin-left: 10px;
}

.group svg{
    margin: 0;
    padding: 0;
}

.group-title{
    color: #fff;
    font-family: 'Calibri', sans-serif;
    font-size: 35px;
}

.group-description{
    color: #fff;
    font-family: 'Calibri', sans-serif;
    font-size: 16px;
}

.qtdpessoas{
    line-height: 18px;
    display: flex;
}

.qtdpessoas div{
    color:#fff;
    font-family: 'Calibri', sans-serif;
    font-size: 14px;
    margin-left: 2px;
    font-weight: bold;
}

.pagegroup-grid{
    margin: auto;
    margin-top: 80px;
    padding-bottom: 50px;
    width: 65%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 25px;
    grid-template-areas: 
    "a1b1"
    "a2b1"
    "a3b1"
}

.a1b1{grid-area: a1b1}
.a2b1{grid-area: a2b1}
.a3b1{grid-area: a3b1}

.a1b1, .a2b1, .a3b1{
    background-color: #ffff;
    border: 1px solid #bababa;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 55px;
}

.pagegroup-imguser{
    width: 45px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid #bababa;
    float: left;
    margin-left: 5px;
}

.name-status{
    float: left;
    font-family: 'Calibri', sans-serif;
    color: rgb(139, 139, 130);
    margin-left: 15px;
    margin-top: 5px;
    color: #4f4f4f;
    font-size: 17px;
}

.ns-status{
    margin-top: -7px;
    display: flex;
    align-items: center;
}
.ns-status > span{
    color: rgb(35, 141, 158);
    font-size: 22px;
}

#moderador{
    color: rgb(171,226, 89);
}

.a1b1 > div, .a2b1 > div, .a3b1 > div {
    display: flex;
    flex-direction: row;
}

.pagegroup-button
{
    margin-top: 10px;
    margin-right: 10px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: rgb(134, 156, 245);
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Calibri', sans-serif;
    width: 80px;
    cursor: pointer;
}

.gerenciar{
    line-height: 20px;
    display: flex;
}

.modal{
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.b1c1{grid-area: r1c1}
.b1c2{grid-area: r1c2}

.b2c2{grid-area: r2c2}
.b2c3{grid-area: r2c3}

.b3c3{grid-area: r3c3}

.creategroup-modal{
    /* margin: 50px auto 0 auto; */
    margin: auto;
    width: 600px;
    height: 450px;
    /*background-color: #ffff;*/
    z-index: 2;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-image: radial-gradient(circle at 590px 15px, rgba(255, 0, 0, 0) 0, rgba(0, 0, 0, 0) 35px, white 14px);
	background-repeat: no-repeat;
}

.b1c1, .b1c2, .b2c2, .b2c3, .b3c3{
    /*background-color: pink;*/
}

.creategroup-modal-grid{
    margin-left: 120px;
    padding-top: 30px;
    display: grid;
    grid-gap: 30px;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: 75px 75px 50px;
    grid-template-areas: 
    "r1c1 r1c2 r1c2"
    "r1c1 r2c2 r2c3"
    "r3c3 r3c3 r3c3"
}

.modal-title{
    margin-top: 45px;
    color: gray;
    font-family: 'Calibri', sans-serif;
    font-size: 30px;
    font-weight: bolder;
}

.modal-description{
    margin-top: 10px;
    font-size: 16px;
    color: gray;
    font-family: 'Calibri', sans-serif;
    width: 250px;
    text-align: center;
    font-weight: lighter;
}

.creategroup-icon{
    margin-top: 15px;
    width: 150px;
    height: 150px;
    border-radius: 8px;
    /*margin-left: 40px;*/
}

.creategroup-modal-grid figcaption{
    font-family: 'Calibri', sans-serif;
    font-size: 12px;
    color: gray;
    /*margin-left: 40px;*/
    max-width: 150px;
    margin-top: 4px;
}

.modal-label{
    font-family: 'Calibri', sans-serif;
    font-size: 18px;
    font-weight: lighter;
    color: gray;
}

.b1c2{
    padding-top: 16px;
    display: flex;
    flex-direction: column;	
}

.modal-input{
    border-radius: 6px;
    border: 1px solid #d3d3d3;
    color: #d3d3d3;
    font-size: 12px;
    padding: 10px;
    font-family: 'Calibri', sans-serif;
    margin-top: 5px;
    margin-left: -5px;
}

.modal-select{
    /*-webkit-appearance:none;*/
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    border-radius: 6px;
    border: 1px solid #d3d3d3;
    font-family: 'Calibri', sans-serif;
    font-size: 12px;
    color: #d3d3d3;
    margin-top: 5px;
    margin-left: -5px;
    width: 130px;	
    background: url("/images/seta.png") 95% 50% no-repeat;
}

.b2c3 > .modal-select{
    margin-left: -35px;
    width: 183px;
}

.b2c3 > .modal-label{
    margin-left: -35px;
}

.b3c3{
    margin-top: -25px;
}

.modal-button{
    margin-left: 175px;
    padding: 3px 20px 3px 20px;
    background-color:rgb(134, 156, 245);
    color: #fff;
    font-size: 12px;
    font-family: 'Calibri', sans-serif;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.close{
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 590px;
    margin-top: -210px;
    z-index: 3;
    height: 50px;
    width: 50px;
}

.close svg{
    margin-left: 16px;
    margin-top: 16px;
}

.contencao-modal{
    width: 650px;
    height: 500px;
    display: flex;
    align-items: center;
    margin: auto;
}

.img-select{
    width: 100px;
    height: 100px;
}

.dropdown-spc{
    position: relative;
    display: inline-block;
}

.dropdown{
    display: none;
    position: absolute;
    background-color: #ffff;
    /*z-index: 1;*/
    padding: 20px;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    width: 250px;
    margin-top: 16px;
    border-top: none;
    margin-left: -200px;
    font-family: 'Calibri', sans-serif;
}

.dropdown ul{
    list-style-type: none;
}

.dropdown ul li:hover{
    font-weight: bold;
    cursor: pointer;
}

#li-dropdown:hover .dropdown {
    display: block;
}

.level1, .level2 {
    font-weight: bolder;
    font-size: 17px;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.level-before1{
    background-color: rgb(91, 102, 255);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-left: 20px;
}

.level-before1 svg{
    /*margin-left: 6px;*/
    margin-top: 6px;
}

.level1 span{
    margin-left: 7px;
}

.level-before2{
    background-color: rgb(59, 216, 106);
    width: 25px;
    height: 25px;
    border-radius: 50%;
} 

.level-before2 svg{
    /*margin-left: 6px;*/
    margin-top: 6px;
}

.level2 span{
    margin-left: 7px;
}

.sublevel1, .sublevel2 {
    margin-left: 30px;
    margin-top: -25px;
    display: flex;
    align-items: center;
    font-weight: normal;
}

.sublevel1::before{
    content: "•";
    font-size: 40px; 
    color: rgb(91, 102, 255);
    margin-left: 15px;
}

.sublevel2::before{
    content: "•";
    font-size: 40px; 
    color: rgb(59, 216, 106);
}

#si1, #si2{
    margin-left: 30px;
    margin-top: -8px;
}

#sh{
    margin-top: 8px;
}

.c1c1{grid-area: r1c1}
.c1c2{grid-area: r1c2}

.c2c2{grid-area: r2c2}
.c2c3{grid-area: r2c3}

.c3c3{grid-area: r3c3}

.createpost-modal{
    /* margin: 50px auto 0 auto; */
    margin: auto;
    width: 600px;
    height: 450px;
    /*background-color: #ffff;*/
    z-index: 2;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-image: radial-gradient(circle at 590px 15px, rgba(255, 0, 0, 0) 0, rgba(0, 0, 0, 0) 35px, white 14px);
    background-repeat: no-repeat;
}

.createpost-modal-grid{
    margin-left: 150px;
    padding-top: 30px;
    display: grid;
    grid-gap: 30px;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: 75px 75px 50px;
    grid-template-areas: 
    "r1c1 r1c2 r1c2"
    "r1c1 r2c2 r2c2"
    "r3c3 r3c3 r3c3"
}  

.createpost-icon{
    margin-top: 15px;
    width: 150px;
    height: 150px;
    border-radius: 8px;
}

.createpost-modal > .modal-description{
    width: 330px;
}

.c1c2 {
    padding-top: 16px;
    display: flex;
    flex-direction: column;	
}

.c2c2{
    display: flex;
    flex-direction: column;	
}

.modal-button{
    margin-left: 175px;
    padding: 3px 20px 3px 20px;
    background-color:rgb(134, 156, 245);
    color: #fff;
    font-size: 12px;
    font-family: 'Calibri', sans-serif;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.c3c3{
    margin-top: -25px;
}

.qtd-anexos{
    position: absolute;
    height: 20px;
    width: 20px;
    padding: 10px;
    border-radius: 50%;
    background-color: rgb(179, 242, 106);
    color: #fff;
    font-family: 'Calibri', sans-serif;
    margin-top: -170px;
    margin-left: 130px;
}

.createpost-modal-grid figcaption{
    font-family: 'Calibri', sans-serif;
    font-size: 12px;
    color: gray;
    /*margin-left: 40px;*/
    max-width: 150px;
    margin-top: 4px;
}
