body {
    background-color: #f2f2f2;
    overflow-y: scroll;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #6d6d6d;
}

figure {
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

h3{
    padding: 0;
    margin: 0;
}

#navigation {
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
    background-color: #6293eb;
    width: 100%;
    box-sizing: border-box;
    user-select: none;
}

.inner-navigation {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto 0 auto;
}

.inner-navigation > ul {
    list-style: none;
    color: #fff;
    font-family: 'Calibri', sans-serif;
    margin: 0;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.inner-navigation > ul li {
    padding: 10px 0 10px 0;
    height: 100%;
    box-sizing: border-box;
    cursor: pointer;
}

.inner-navigation > ul > #logo {
    font-size: 25px;
    font-weight: bold;
}

.inner-navigation > ul > #logo img {
    height: 20px;
}


.inner-navigation > ul > #logo, .right-session  {
    width: 200px;
}

.inner-navigation > ul #search .search-dudes .input-search {
    padding: 0 10px 0px 10px;
    border-radius: 5px;
    background-color: #5d86d7;
    width: 250px;
    color: #efefef;
}

.inner-navigation > ul #search .search-dudes .input-search input {
    float: right;
    border: none;
    outline: none;
    width: 220px;
    margin: 7px 0 5px 0;
    padding: 0 20px 0 10px;
    background-color: transparent;
    box-sizing: border-box;
    color: #efefef;
}

.inner-navigation > ul #search .search-dudes .input-search input::placeholder {
    color: #e6e6e6;
}

.inner-navigation > ul #search .search-dudes .input-search #icon-search {
    cursor: pointer;
    margin: 4px 0 0 5px;
    font-size: 23px;
}

.inner-navigation > ul #user .user-thumb{
    margin: 0 10px 0 10px;
    background-color: #fff;
    float: left;
    width: 32px;
    height: 32px;
    border-radius: 5px;
}

.inner-navigation > ul #user:hover{
    transition: all 0.05s ease;
    background-color: #5d86d7;
}

.inner-navigation > ul #user .user-thumb img{
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

.inner-navigation > ul #user .user-name{
    margin: 0 5px 0 0;
    line-height: 32px;
    font-size: 15px;
    float: left;
}

.inner-navigation > ul #user #dropdown-arrow{
    padding: 5px 5px 0 0;
    float: left;
}

.header-user{
    background-color: #9ab9f0;
    background-image: url('../images/alternative_doodles.png');
    padding: 40px;
    text-align: center;
}

.user-image{
    width: 100px;
    border-radius: 50%;
    margin: 0 auto 0 auto;
}

.user-tagname{
    color: #fff;
    font-family: 'Calibri', sans-serif;
    font-size: 30px;
    font-weight: bold;
    padding: 0;
    margin-top: -5px;
}

.user-tagsub{
    margin-top: -20px;
    font-size: 18px;
    color: #f7f7f7;
    font-family: 'Calibri', sans-serif;
    font-weight: bold;
}

nav .menu{
    width: 100%;
}

.menu ul {
    margin: auto;
    padding: 0;
    background-color: white;
    list-style: none;
    border: 1px solid rgba(0,0,0,0.15);
    display: flex;
    justify-content: center;
    font-family: 'Calibri', sans-serif;
    width: 100%;
}

.menu ul li {
    font-weight: bold;
    color: #6d6d6d;
    cursor: pointer;
    border-left: 1px solid #e1e1e1;
    padding: 15px 20px 15px 20px;  
    text-align: center;
}

.timeline-grid{
    display: grid;
    flex-direction: column;
    margin: auto;
}

.container{
    grid-area: c1;
    width: 600px;
    margin: 50px auto 0 auto;
    border: 0.5px solid #bababa;
    border-radius: 5px;
    background-color: #fff;
    padding-bottom: 30px;
}

.timeline-figure{
    height: 300px;
    overflow: hidden;
    border: 0.5px solid #bababa;
}

.timeline-img{
    width: 100%;
   
}

.timeline-text{
    padding-left: 40px;
    padding-top: 20px;
    font-family: 'Calibri', sans-serif;
    font-size: 20px;
    color: #4f4f4f;
    max-width: 520px;
}

.meta-dados{
    display: flex;
}
.comment-img{
    height: 50px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #bababa;
    margin-left: 40px;
    margin-top: 20px;
}

.timeline-description{
    font-family: 'Calibri', sans-serif;
    margin-left: 20px;
    margin-top: 20px;
    color: #696969;
    font-size: 16px;
}

.r1c1{grid-area: r1c1}
.r1c2{grid-area: r1c2}
.r1c3{grid-area: r1c3}

.group-grid{
    margin: auto;
    margin-top: 80px;
    width: 800px;
    grid-template-rows: 15em 15em 15em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    grid-template-areas: 
    "r1c1 r1c2 r1c3"
}

.r1c1, .r1c2, .r1c3{
    background-color: #ffff;
    border: 0.5px solid rgba(0,0,0,0.15);
    border-radius: 10px;
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: column;
}

.button-add{
    width: 80px;
    height: 80px;
    background-color: gray;
    border-radius: 100%;
    margin: auto;
    background-color: #f2f2f2;
    text-align: center;
}

.button-add p{
    font-size: 50px;
    color: #696969;
    font-family: 'Calibri', sans-serif;
    margin-top: 8px;
}

.group-icon{
    border-radius: 8px;
    height: 60px;
    width: 60px;
    border: 0.5px solid #bababa;
}

.group-name{
    font-family: 'Calibri', sans-serif;
    color: rgb(132, 132, 132);
    font-size: 20px;
    font-weight: 32px;
}

.group-adm{
    font-family: 'Calibri', sans-serif;
    color: gray;
    font-size: 18px;
}

.group-adm::before{
    content: "";
    width: 7px;
    height: 7px;
    background-color: #6d6d6d;
    border-radius: 50%;
}

.group-button{
    font-family: 'Calibri', sans-serif;
    margin-top: 10px;
    border-radius: 15px;
    border: none;
    background-color: #869CF5;
    padding: 1px 18px 1px 18px;
    color: #ffff;
}
